@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff
  }
}

@theme inline {
  --font-nunito: "Nunito", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
